# config file for i3mega s original servo and motor 
# trasformed on direct extruder on MK4 carriage 

# firmware should be compiled for the AVR atmega2560.
# See docs/Config_Reference.md for a description of parameters.
# Arduino aliases for atmega2560/1280 (Arduino mega) boards

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


[virtual_sdcard]
path: ~/gcode_files
[display_status]
[pause_resume]
[stepper_x]
step_pin: PF0
dir_pin: !PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PE5
position_min: -5
position_endstop: -5
position_max: 210
homing_speed: 30.0

[stepper_y]
step_pin: PF6
dir_pin: PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PL7
position_endstop: 0
position_max: 210
homing_speed: 30.0

[stepper_z]
step_pin: PL3
dir_pin: PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PD3
position_max: 205
homing_speed: 5.0

[stepper_z1]
step_pin: PC1
dir_pin: PC3
enable_pin: !PC7
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PL6


[extruder]
step_pin = PA4
## "" for stock and TMC2208 with reversed plugs
#dir_pin = PA6
dir_pin = PA6
enable_pin = !PA2
#control = pid
## original extruder stepper motor
rotation_distance = 8
Full_Steps_Per_Rotation = 200
Microsteps = 16
## NEMA17 23mm stepper motor
#step_distance = .00236
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = PB4
sensor_type = ATC Semitec 104GT-2
sensor_pin = PK5
min_temp = 0
max_temp = 285
max_extrude_only_distance = 150.0
smooth_time = 1
min_extrude_temp = 180
pressure_advance = 0.04
max_extrude_cross_section = 150
pid_kp = 25.666
pid_ki = 1.267
pid_kd = 129.932
control = pid



[heater_fan extruder_fan]
pin: PL5
[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
#control: pid
#pid_Kp: 74.883
#pid_Ki: 1.809
#pid_Kd: 775.038
min_temp: 0
max_temp: 110

[fan]
pin: PH6

[mcu]
serial: /dev/ttyUSB0

[printer]
kinematics = cartesian
max_velocity = 300
max_accel =3000
max_accel_to_decel = 1000
max_z_velocity = 10
max_z_accel = 190
square_corner_velocity = 5
[input_shaper]
shaper_freq_x: 51.61
shaper_freq_y: 47.12
shaper_type: mzv

[bed_screws]
screw1: 20, 20
screw2: 180, 20
screw3: 180, 180
screw4: 20, 180
[gcode_arcs]
resolution: 0.1
[heater_fan stepstick_fan]
pin: PH4

[gcode_macro M201]
gcode:

[gcode_macro M203]
gcode:
[gcode_macro M205]
gcode:

[gcode_macro EXCLUDE_OBJECT_START]
gcode:

[gcode_macro EXCLUDE_OBJECT_END]
gcode:
[gcode_macro EXCLUDE_OBJECT_DEFINE]
GCODE:
[pause_resume]


[firmware_retraction]
retract_length: 0.8
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.31
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

# G-Code M600
[gcode_macro M600]
# default_parameter_X: 50
# default_parameter_Y: 0
# default_parameter_Z: 10
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-150 F1000
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 0.8
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F6000


[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  G91		  #relative positioning
  # G1 E-.1 
  G10
  G1 Z10 Y50 F1000	#Z axis up 10mm, Y out 50mm
  G90		  #absolute positioning
  G28 X0 	#home X axis
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT

[gcode_macro START_PRINT]
gcode:
  G28 X0 Y0                     ; move X/Y to min endstops
  G28 Z0                        ; move Z to min endstops
  G1 Z20 Y5 F500                ; move nozzle away from bed
  G92 E0                        ; zero the extruded length
  G1 E2 F2400                    ; extrude 5mm of feed stock
  G92 E0                        ; zero the extruded length again
  M117 Printing...

[gcode_macro END_PRINT]
gcode:
  M400                          ; Clear Buffer
  M104 S0                       ; turn off extruder
  M140 S0                       ; turn off bed
  G10                           ; retract
  G91                           ; relative positioning
  G1 E-0.03 Z1.00 X20.0 Y20.0   ; move nozzle to remove stringing
  M106 S0                       ; turn off fan
  G1 Z20                        ; move nozzle up 20mm
  G90                           ; absolute positioning
  G0 X0 Y175                    ; park nozzle at rear
  M84                           ; steppers off
  G4 P250                       ; dwell
  #_TIMELAPSE_NEW_FRAME
  M300                          ; Beep

[gcode_macro Heat_Hotend_PLA]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.346
#*# pid_ki = 0.665
#*# pid_kd = 113.182
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.478
#*# pid_ki = 2.634
#*# pid_kd = 512.506
#*#
#*# [stepper_z]
#*# position_endstop = 0.165
